// bower:scss
// endbower

/* VARIABLES
------------------------- */
$purple: #4353a4;
$purpleDark: #323e7a;
$pink: #d82559;
$green: #56bb64;
$lightGrey: #ececec;
$darkGrey: #252424;

$bodyFontColor: #333;
$bodyLinkColor: $purple;

$transitionSpeed: .3s;

$containerWidth: 710px;

/* MIXINS
------------------------- */


/* BASE
------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background: #fafafa;
  font-family: 'Lato' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: $bodyFontColor;
  background: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: .01em;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
img {
  height: 100%;
}
button:focus {
  outline: none;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* TYPOGRAPHY
------------------------- */
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  margin: 0;
}
h1,
h2 {
  font-size: 1.5em;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 1em;
  letter-spacing: .05em;
  margin-bottom: .5em;
}
.subheader {
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4em;
  margin-top: 0;
}
p {
  margin-bottom: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
}
a {
  color: $bodyLinkColor;
  transition: all $transitionSpeed ease;
  &:hover {
    color: darken($bodyLinkColor, 10%);
  }  
}
@mixin button($color) {
  border: none;
  padding: 1em 3em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .08em;
  border-radius: 2em;
  color: #fff;
  display: inline-block;
  background: $color;
  &:hover {
    color: #fff;
    background: darken($color, 5%);
  }
}
.button-pink {
  @include button($pink);
}
.button-purple {
  @include button($purple);
}


.text-green {
  color: $green;
}
.text-pink {
  color: $pink;
}
.text-lighter {
  color: lighten($bodyFontColor, 40%);
}
.text-contained {
  max-width: 420px;
  margin: 0 auto;
}
.text-smaller p {
  font-size: .8em;
  line-height: 1.5em;
}


/* LAYOUT
------------------------- */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.col {
  @media (min-width: 500px) {
    float: left;
  }
}
.col-1-3 {  
  @media (min-width: 500px) {
    width: 33.33333%;
  }
}
.container {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 90%;
}
.container-large {
  @extend .container;
  max-width: $containerWidth * 1.5;
}
.container-small {
  @extend .container;
  max-width: $containerWidth * .6;
}
.section {
  padding: 1.5em 0;
}







/* SECTION SPECIFIC
------------------------- */
/* intro */
.section-intro {  
  background-color: $pink;
  position: relative; 
  background-size: 60%;
  overflow: hidden;
  h1 {
    color: #fff;    
    font-weight: 300;
    padding: 4.5em 0 6em;
    line-height: 1.2em;
    position: relative;
    z-index: 2;   
    text-align: left; 
  }
  @media (min-width: 500px) {
    h1 {
      font-size: 2.25em;
    }
  }
}
/* SVG */
.waves {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100px;
}
.waves-top {
  bottom: -5px;
}
.waves-bottom {
  left: 0;
   top: -98px;
}





.logo-large {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170%;
  height: 170%;
  transform: translate(-50%, -50%);
}
.logo,
.contact {
  position: absolute;
  top: 1.5em;
  z-index: 2;
}
.logo {
  left: 1.5em;
  width: 40px;
  height: 40px;
}
.contact {
  right: 1.5em;
  color: #fff;
  text-decoration: none;
  z-index: 3;
  &:hover {
    color: #fff;
  }
}

.main-group {
  position: relative;
  z-index: 2;
  top: -8em;
}





/* case study */
.section-case-study {
  h2 {
    color: #fff;
    margin-bottom: 1em;
  }
  .video-container {
    width: 100%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1.5em;
    position: relative;
    .video {
      border-radius: 5px;
      display: block;
    }
    .video-link {
      display: block;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      padding-top: 20%;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      opacity: 0;
      background: rgba(0, 0, 0, 0.4);
      transition: all $transitionSpeed ease;
      font-size: 2em;
      text-decoration: none;
      z-index: 2;
    }
    &:hover .video-link {
      opacity: 1;
    }
    @media (min-width: 850px) {
      width: 68%;
      float: left;
      margin-bottom: 0;
    }
  }
  .content {
    max-width: $containerWidth;
    width: 90%;
    margin: 0 auto;
    @media (min-width: 850px) {
      width: 32%;
      float: left;
      margin-top: 6.5em;
      padding-left: 1.5em;      
    }    
    h3 {
      margin-bottom: 0;
      font-size: .8em;
      color: lighten($bodyFontColor, 30%);
      letter-spacing: .05em;
    }
    p {
      font-size: .8em;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      line-height: 1.2em;
    }
    .view-it {
      font-size: .85em;
    }
  }
}



/* services */
.section-services {
  h2 {
    color: $pink;
  }
    h3 {
      display: block;
      @media (min-width: 500px) {
        display: none; 
      }
    }

  .circle {
    display: none;
    @media (min-width: 500px){
      display: block;
    }
  }
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(216,37,89,0.8);
  text-align: center;
  color: #fff;
  margin: 0 auto;
  position: relative;
  @media (min-width: 500px) {
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;    
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.circle-green {
  background: rgba(85, 192, 165, 0.89);
}
.circle-purple {
  background: rgba(67, 83, 164, 0.8);
}
.circle-col {
  padding: 1em;
}
.decoration {
  text-align: center;
}




.footer {
  background: $purple;
  position: relative;
  padding: 8em 0;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 1.5em;
  }
  .copyright {
    font-size: .85em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 3em;
  }
}





