// bower:scss
// endbower

/* VARIABLES
------------------------- */
$purple: #4353a4;
$purpleDark: #323e7a;
$pink: #d82559;
$green: #56bb64;
$lightGrey: #ececec;
$darkGrey: #252424;

$bodyFontColor: #333;
$bodyLinkColor: $purple;

$transitionSpeed: .3s;

$containerWidth: 710px;

/* MIXINS
------------------------- */


/* BASE
------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background: #fafafa;
  font-family: 'Lato' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: $bodyFontColor;
  background: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: .01em;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
img {
  height: 100%;
}
button:focus {
  outline: none;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* TYPOGRAPHY
------------------------- */
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  margin: 0;
}
h1,
h2 {
  font-size: 1.5em;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 1em;
  letter-spacing: .05em;
  margin-bottom: .5em;
}
.subheader {
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4em;
  margin-top: 0;
}
p {
  margin-bottom: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
}
a {
  color: $bodyLinkColor;
  transition: all $transitionSpeed ease;
  &:hover {
    color: darken($bodyLinkColor, 10%);
    cursor: pointer;
  }
}
@mixin button($color) {
  border: none;
  padding: 1em 3em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .08em;
  border-radius: 2em;
  color: #fff;
  display: inline-block;
  background: $color;
  &:hover {
    color: #fff;
    background: darken($color, 5%);
  }
}
.button-pink {
  @include button($pink);
}
.button-purple {
  @include button($purple);
}


.text-green {
  color: $green;
}
.text-pink {
  color: $pink;
}
.text-lighter {
  color: lighten($bodyFontColor, 40%);
}
.text-contained {
  max-width: 420px;
  margin: 0 auto;
}
.text-smaller p {
  font-size: .8em;
  line-height: 1.5em;
}


/* LAYOUT
------------------------- */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.col {
  @media (min-width: 500px) {
    float: left;
  }
}
.col-1-3 {  
  @media (min-width: 500px) {
    width: 33.33333%;
    padding: 0 1em;
  }
}
.container {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 90%;
}
.container-large {
  max-width: $containerWidth * 1.5 ;
}
.container-large {
  @extend .container;
  max-width: $containerWidth * 1.5;
}
.container-small {
  @extend .container;
  max-width: $containerWidth * .6;
}
.section {
  padding: 8em 0;
}

.grey-bg {
  background: #eaeaea;
}






/* SECTION SPECIFIC
------------------------- */
/* intro */
.section-intro {  
  background-color: $pink;
  position: relative; 
  background-size: 60%;
  overflow: hidden;
  .intro-header-group {
    padding: 0 0 2em;
    @media (min-width: 500px) {
      padding: 8em 0 10em;
    }
  }
  h1 {
    color: #fff;    
    font-weight: 300;    
    line-height: 1.2em;
    position: relative;
    z-index: 2;   
    font-size: 2.5em;
    line-height: 1.2;
    text-align: left;
    margin-bottom: .3em;
  }
  h2 {
    font-weight: lighter;
    color: #fff;
    font-size: 1.2em;
    text-align: left;
    line-height: 1.3;
    position: relative;
    z-index: 3;    
  }
  @media (min-width: 500px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 1.65em;
    }
  }
}
/* SVG */
.waves {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100px;
}
.waves-top {
  bottom: -5px;
}
.waves-bottom {
  left: 0;
   top: -98px;
}





.logo-large {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170%;
  height: 170%;
  transform: translate(-50%, -50%);
}
.logo,
.contact {
  position: absolute;
  top: 1.5em;
  z-index: 2;
}
.logo {
  left: 1.5em;
  width: 40px;
  height: 40px;
}
.contact {
  right: 1.5em;
  color: #fff;
  text-decoration: none;
  z-index: 3;
  background: #4353a4;
  padding: .6em 2.2em;
  border-radius: 30px;  
  &:hover {
    color: #fff;
  }
}

.main-group {
  position: relative;
  z-index: 2;
  top: -8em;
}





/* case study */
.section-case-study {
  padding: 1em 0 8em;
  h2 {
    color: #fff;
    margin-bottom: 1em;
  }
  .video-container {
    width: 100%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1.5em;
    position: relative;
    .video {
      border-radius: 5px;
      display: block;
    }
    .video-link {
      display: block;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      padding-top: 20%;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      opacity: 0;
      background: rgba(0, 0, 0, 0.4);
      transition: all $transitionSpeed ease;
      font-size: 2em;
      text-decoration: none;
      z-index: 2;
    }
    &:hover .video-link {
      opacity: 1;
    }
    @media (min-width: 850px) {
      width: 68%;
      float: left;
      margin-bottom: 0;
    }
  }
  .content {
    max-width: $containerWidth;
    width: 90%;
    margin: 0 auto;
    @media (min-width: 850px) {
      width: 32%;
      float: left;
      margin-top: 6.5em;
      padding-left: 1.5em;      
    }    
    h3 {
      margin-bottom: 0;
      font-size: .8em;
      color: lighten($bodyFontColor, 30%);
      letter-spacing: .05em;
    }
    p {
      font-size: .8em;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      line-height: 1.2em;
    }
    .view-it {
      font-size: .85em;
    }
  }
}



/* services */
.section-services {
  h2 {
    color: $pink;
  }
    h3 {
      display: block;
      @media (min-width: 500px) {
        display: none; 
      }
    }
}


/* FEATURE MODULES
------------------------- */
.feature-module {
  border-radius: 5px;
  background: #fff;
}

.feature-module-top h4 {
  margin-bottom: .5em;
}
.feature-module-top h4 span {
  display: block;
  font-size: .7em;
/*   font-weight: normal; */
  letter-spacing: 0.08em;
  color: #9a9a9a;
}

.feature-module-top {
  padding: 1.5em;
}
.feature-module-top p:last-child {
  margin-bottom: 0;
}
.features-title {
  margin-bottom: .4em;
}
.feature-module-bottom .everything-plus {
  font-size: .85em;
  color: rgba(255, 255, 255, 0.7);
}
.feature-module-bottom {
  background: #666;
  color: #fff;
  padding: 1.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.feature-module.purple .feature-module-bottom {
  background: #4353a4;
}
.feature-module.pink .feature-module-bottom {
  background: #d82559;
} 
.feature-module-bottom ul {
  padding: 0;
  text-align: left;
  font-size: .8em;
  margin-left: 1.5em;  
}
.feature-module-bottom .pricing {
  margin: 22px 1em;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-size: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  padding-top: 16px;
}
.feature-module-bottom .spacer {
  height: 45px;
}
.feature-module-bottom .button {
  margin-bottom: 1.8em;
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 70%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all .4s ease;
}
.feature-module-bottom .button:hover {
  border: 2px solid #fff;
  background: none;
}
.feature-module-footer {
  width: 100%;
}
@media (max-width: 36rem) {
  .feature-module.purple .feature-module-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .feature-module.pink {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } 
}









.footer {
  background: $purple;
  position: relative;
  padding: 8em 0;
  text-align: center;
  .button {
    margin-bottom: .5em;
  }
  h2, p, a {
    color: #fff;
    margin-bottom: 1.5em;
  }
  .copyright {
    font-size: .85em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 3em;
    a {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}



/* OTHER TEMPLATES
------------------------- */


