// bower:scss
// endbower

/* VARIABLES
------------------------- */
$purple: #4353a4;
$purpleDark: #323e7a;
$pink: #d82559;
$green: #56bb64;
$lightGrey: #ececec;
$darkGrey: #252424;
$bodyFontColor: #333;

$containerWidth: 800px;

/* BASE
------------------------- */
body {
  background: #fafafa;
  font-family: 'Lato' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: $bodyFontColor;
  margin: 0;
  letter-spacing: .01em;
  position: relative;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* TYPOGRAPHY
------------------------- */
h1, h2, h3, h4, h5, h6 {
  text-align: center;  
  font-weight: normal;
}
h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}
.subtitle {
  font-size: 1em;
  font-weight: normal;
  text-transform: none;
}
p {
  margin-bottom: 1.5em;
}
.text-green {
  color: $green;
}
.text-pink {
  color: $pink;
}
.text-lighter {
  color: lighten($bodyFontColor, 40%);
}
.text-contained {
  max-width: 420px;
  margin: 0 auto;
}
.button {
  border: none;
  padding: 1em 3em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .08em;
  border-radius: 2em;
  color: #fff;
  display: inline-block;
  &.pink {
    background: $pink;
  }
  &.purple {
    background: $purple;
  }
  &:hover {
    cursor: pointer;
  }
}

/* LAYOUT
------------------------- */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.col {
  float: left;
}
.container-wrap-purple {
  background: $purple;
}
.container-wrap-light-grey {
 color: #ececec;
}
.container {
  max-width: $containerWidth;
  margin: 0 auto;
}
.section {
  text-align: center;
  padding: 2em 1.5em;
  p {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
hr {
  background: $lightGrey;
  height: 2px;
  border: none;
  margin: 0;
  margin: 2.5em;
}

/* SECTION SPECIFIC
------------------------- */
/* intro */
.section-intro {
  background: $purple;
  padding-top: 7em;
  padding-bottom: 4em;
  position: relative;
  background: url('../images/ample-craft-logo-icon.svg') no-repeat center center;
  background-size: cover;
  @media (min-width: 500px) {
    padding-top: 10em;
    padding-bottom: 9em;
  }
  .ample-craft-logo {    
    margin-bottom: 1em;
    max-width: 85%;
    @media (min-width: 500px) {
      max-width: 50%;
    }
  }
  h1 {
    color: #fff;
  }
  .button-group {
    position: fixed;
    top: 1.5em;
    right: .5em;
    z-index: 10;
    @media (min-width: 500px) {
      right: 1.5em;
    }
    &.active {
      .button {
        background: #B31C48;
        + .button-drawer {
          width: 285px;
          @media (min-width: 500px) {
            width: 315px;
          }
        }
      }
    }
    .button {
      position: relative;
      z-index: 2;
      padding: 1em 1.5em;
      height: 35px;
      @media (min-width: 500px) {
          padding: 1em 2em;
      }
    }
    .button-drawer {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 15px;
      border-radius: 2em;
      background: $pink;
      text-align: left;
      width: 0px;
      height: 35px;
      font-size: .8em;
      overflow: hidden;
      transition: width .6s ease;
      a {
        color: #fff;
        display: inline-block;
        padding: 0 .5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        font-size: .9em;
        &:hover {
          text-decoration: underline;
        }
        &:first-child {
          left: 6px;
          @media (min-width: 500px) {
            left: 13px;
          }
        }
        &:last-child {
          left: 96px;
          @media (min-width: 500px) {
            left: 107px;
          }
        }
      }
    }
  }
}
.section-intro-cover {
  background: $purple;
  height: 4em;
  width: 100%;
  border-top: 3px solid $purpleDark;
}
/* work */
.section-work {
  padding: 0;     
  position: relative;
  z-index: 2;
  margin-top: -3em;
  h2 {
    color: #fff;
    margin: 0 0 1em;    
    @media (min-width: 500px) {
      margin: .5em 0 1.5em;
    }
  }
  video {
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 500px) {
      border-radius: 7px;
      width: 90%;
    }
  }
}
/* other */
.section-other-services {  
  ul {
    list-style: none;    
    padding-left: 0; 
    line-height: 2em;
  }
  .col {
    width: 33.33333%;
  }
  p {
    margin-bottom: 4em;
  }
}
.section-services {
  padding-bottom: 0;
}
.section-get-started {
  background: $lightGrey;
  text-align: center;
  padding-bottom: 4em;
  h2 {
    color: $purple;
    margin-top: 0;
  }
}
.footer {
  background: $lightGrey;
  .copyright {
    color: #9E9E9E;
    font-size: .85em;
    text-align: center;
    margin: 0;
    padding-bottom: 2em;
  }
}

/* DECORATIONS
------------------------- */
@mixin circle($size, $color) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $color;
}
.waves-purple {
  background: url('../images/waves-pattern-purple.svg') no-repeat center center;
  background-size: cover;
  padding-top: 18%;
  width: 100%;
  position: relative;
  background-size: cover;
  padding-top: 11%;
  width: 100%;
  position: absolute;
  top: 518px;
  display: none;
  @media (min-width: 500px) {
    top: 469px;
    display: block;
  }
}
.waves-grey {
  background: url('../images/waves-pattern-grey.svg') no-repeat center center;
  position: absolute;
  position: relative;
  background-size: cover;
  padding-top: 11%;
  top: 2px;
  width: 100%;
}
.dot-seperator {
  margin: 3em auto;
  @include circle(.8em, $purple);
  & ~ .section {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.circles {
  text-align: center;
  .col {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
  }
  &.green {
    .col {
      margin-left: -25px;
    }
  }
}
.big-circle {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
.circle-pink {
  @include circle(200px, $pink);
}
.circle-green {
  @include circle(150px, $green);
  opacity: 0.8;
}
