// bower:scss
// endbower

/* VARIABLES
------------------------- */
$purple: #4353a4;
$purpleDark: #323e7a;
$pink: #d82559;
$green: #56bb64;
$lightGrey: #ececec;
$darkGrey: #252424;

$bodyFontColor: #333;

$containerWidth: 700px;

/* BASE
------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background: #fafafa;
  font-family: 'Lato' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: $bodyFontColor;
  background: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: .01em;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
img {
  height: 100%;
}
button:focus {
  outline: none;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* TYPOGRAPHY
------------------------- */
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  margin: 0;
}
h1,
h2 {
  font-size: 1.5em;
  text-align: center;
}

p {
  margin-bottom: 1.5em;
}
.text-green {
  color: $green;
}
.text-pink {
  color: $pink;
}
.text-lighter {
  color: lighten($bodyFontColor, 40%);
}
.text-contained {
  max-width: 420px;
  margin: 0 auto;
}
.button {
  border: none;
  padding: 1em 3em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .08em;
  border-radius: 2em;
  color: #fff;
  display: inline-block;
  &.pink {
    background: $pink;
  }
  &.purple {
    background: $purple;
  }
  &:hover {
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  .section {
    h1, h2, h3, h4, h5, p {
      font-size: .9em;
    }
  }
}
/* LAYOUT
------------------------- */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.col {
  float: left;
}
.container {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 90%;
}
.container-large {
  @extend .container;
  max-width: $containerWidth * 1.5;
}


/* SECTION SPECIFIC
------------------------- */
/* intro */
.section-intro {  
  background-color: $pink;
  position: relative; 
  background-size: 60%;
  overflow: hidden;
  .big-logo-container {
    background: url('../images/ample-craft-logo-icon_large.svg') no-repeat center;
    background-size: 100%;
    max-width: 930px;
    margin: 0 auto;
  }
  h1 {
    color: #fff;    
    font-weight: 300;
    padding: 4.5em 0 6.5em;
    line-height: 1.2em;
    position: relative;
    z-index: 2;   
    text-align: left; 
  }
  @media (min-width: 500px) {
    h1 {
      font-size: 2.25em;
    }
  }
}
/* SVG */
.waves-top {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100px;
  bottom: -5px;
}

.logo-large {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170%;
  height: 170%;
  transform: translate(-50%, -50%);
}
.logo,
.contact {
  position: absolute;
  top: 1.5em;
  z-index: 2;
}
.logo {
  left: 1.5em;
  width: 40px;
  height: 40px;
}
.contact {
  right: 1.5em;
  color: #fff;
  text-decoration: none;
}


/* main */
.section-case-study {
  position: relative;
  z-index: 2;
  top: -8em;
  height: 500px;
  h2 {
    font-weight: 700;
    color: #fff;
    font-size: 1em;
    letter-spacing: .05em;
    margin-bottom: 1em;
  }
  .video,
  .content {
    float: left;
  }
  .video {
    width: 68%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .content {
    width: 32%;
    margin-top: 6.5em;
    padding-left: 1.5em;
    h3 {
      margin-bottom: 0;
      font-size: .8em;
      color: lighten($bodyFontColor, 30%);
      letter-spacing: .05em;
    }
    p {
      font-size: .9em;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      line-height: 1.3em;
    }
  }
}

// .subtitle {
//   font-size: 1em;
//   font-weight: normal;
//   text-transform: none;
//   color: #fff;
//   padding: 5em 0;
// }

// .section-intro {
//   // padding-top: 7em;
//   // padding-bottom: 4em;
//   position: relative;
//   // background: url('../images/ample-craft-logo-icon.svg') no-repeat center center;
//   background-size: cover;
//   padding-top: 40%;
//   @media (min-width: 500px) {
    
//   }
//   .ample-craft-logo {    
//     margin-bottom: 1em;
//     max-width: 85%;
//     @media (min-width: 500px) {
//       max-width: 50%;
//     }
//   }
//   h1 {
//     color: #fff;
//   }
//   .button-group {
//     position: fixed;
//     top: 1.5em;
//     right: .5em;
//     z-index: 10;
//     @media (min-width: 500px) {
//       right: 1.5em;
//     }
//     &.active {
//       .button {
//         background: #B31C48;
//         padding: 1em;
//         @media (min-width: 500px) {
//           // padding: 1em 2em;
//         }
//         + .button-drawer {
//           width: 285px;
//           @media (min-width: 500px) {
//             width: 315px;
//           }
//         }
//       }
//     }
//     .button {
//       position: relative;
//       z-index: 2;
//       padding: 1em 2em;
//       height: 35px;
//       line-height: 0;
//       transition: all .6s ease;
//       @media (min-width: 500px) {
//           padding: 1em 2.5em;
//       }
//     }
//     .button-drawer {
//       position: absolute;
//       z-index: 1;
//       top: 0;
//       right: 15px;
//       border-radius: 2em;
//       background: $pink;
//       text-align: left;
//       width: 0px;
//       height: 35px;
//       font-size: .8em;
//       overflow: hidden;
//       transition: all .6s ease;
//       a {
//         color: #fff;
//         display: inline-block;
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         text-decoration: none;
//         font-size: .9em;
//         &:hover {
//           text-decoration: underline;
//         }
//         &:first-child {
//           left: 16px;
//         }
//         &:last-child {
//           left: 106px;
//           @media (min-width: 500px) {
//             left: 116px;
//           }
//         }
//       }
//     }
//   }
// }
// .section-intro-cover {
//   background: $purple;
//   height: 4em;
//   width: 100%;
//   border-top: 3px solid $purpleDark;
// }
// /* work */
// .section-work {
//   padding: 0;
//   padding-top: 88px;
//   background: url('../images/waves-pattern-purple.svg') no-repeat center top;
//   background-size: 105%;

//   .content-group {
//     margin-top: -125px;
//     position: relative;
//     z-index: 2;
//     h2 {
//       color: #fff;
//       margin: 0 0 1em; 
//     }
//     video {
//       box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
//       max-width: 1200px;
//       margin: 0 auto;
//       @media (min-width: 500px) {
//         border-radius: 7px;
//         width: 90%;
//       }
//     }
//   }
// }
// /* other */
// .section-other-services {  
//   ul {
//     list-style: none;    
//     padding-left: 0; 
//     line-height: 2em;
//   }
//   .col {
//     width: 33.33333%;
//   }
//   p {
//     margin-bottom: 4em;
//   }
// }
// .section-services {
//   padding-bottom: 0;
// }
// .section-get-started {
//   background: $lightGrey;
//   text-align: center;
//   padding-bottom: 4em;
//   padding-top: 1em;
//   h2 {
//     color: $purple;
//     margin-top: 0;
//   }
// }
// .footer {
//   background: $lightGrey;
//   .copyright {
//     color: #9E9E9E;
//     font-size: .85em;
//     text-align: center;
//     margin: 0;
//     padding-bottom: 2em;
//   }
// }

// /* DECORATIONS
// ------------------------- */
// .waves-grey {
//   background: url('../images/waves-pattern-grey.svg') no-repeat center center;
//   position: absolute;
//   position: relative;
//   background-size: cover;
//   padding-top: 11%;
//   top: 2px;
//   width: 100%;
// }
// @mixin circle($size, $color) {
//   width: $size;
//   height: $size;
//   border-radius: 50%;
//   background: $color;
// }
// .dot-seperator {
//   margin: 3em auto;
//   @include circle(.8em, $purple);
//   & ~ .section {
//     padding-bottom: 0;
//     padding-top: 0;
//   }
// }
// .circles {
//   text-align: center;
//   .col {
//     float: none;
//     display: block;
//     text-align: center;
//     margin: 0 5px;
//     position: relative;
//     span {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     }
//     @media (min-width: 500px) {
//       display: inline-block;
//     }
//   }
//   &.green {
//     .col {      
//       // margin-bottom: -30px;
//       &:last-child .big-circle {
//         margin-bottom: 0;
//       }
//       @media (min-width: 500px) {
//         margin: 0 0 0 -25px;
//       }
//     }
//   }
// }
// .big-circle {
//   color: #fff;
//   display: table-cell;
//   vertical-align: middle;
//   @media (max-width: 500px) {
//     margin: 1em auto;
//     display: block;
//   }
// }
// .circle-pink {
//   @include circle(150px, $pink);
//   @media (min-width: 720px) {
//     width: 210px;
//     height: 210px;
//   }
// }
// .circle-green {
//   opacity: 0.8;
//   @include circle(110px, $green);  
//   @media (min-width: 720px) {
//     width: 150px;
//     height: 150px;
//   }
//   @media (max-width: 500px) {
//     margin-bottom: -39px;
//   }
// }
